body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* GLOBAL */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    max-width: 1200px;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 38px;
    background: #e8491d;
    border: none;
    padding: 0 1.5em;
    color: white;
    border-radius: .25em;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* HEADER */
header {
    background: #35424a;
    color: #ffffff;
    padding-top: 2em;
    min-height: 4.5em;
    border-bottom: #e8491d 3px solid;

    a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;

        &:hover {
            color: #e8491d;
            font-weight: bold;
        }
    }

    li {
        float: left;
        display: inline;
        padding: 0 1.5em;
    }

    #branding {
        float: left;

        h1 {
            margin: 0;
        }
    }

    nav {
        float: right;
        margin-top: .6em;
    }

    .highlight, .current a {
        color: #e8491d;
        font-weight: bold;
    }
}

/* SHOWCASE */
#showcase {
    min-height: 25em;
    background: url('../img/showcase.jpg') 0;
    text-align: center;
    color: white;

    h1 {
        margin-top: 100px;
        font-size: 3.3rem;
        margin-bottom: 10px;
    }

    p {
        font-size: 1.25rem;
    }
}

/* NEWSLETTER */
#newsletter {
    padding: 1em;
    color: white;
    background: #35424a;

    h1 {
        float: left;
    }

    form {
        float: right;
        margin-top: 1em;
    }

    input[type="email"] {
        padding: .25em;
        height: 25px;
        width: 18.6em;
    }

    .button_1 {
        &:hover {
            color: #e8491d;
            background: white;
            cursor: pointer;
        }
    }
}

/* BOXES */
#boxes {
    margin-top: 20px;

    .box {
        float: left;
        width: 30%;
        padding: 10px;
        text-align: center;

        img {
            width: 5.5em;
            height: auto;
        }
    }
}

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 30px;
}

article#main-col {
    float: left;
    width: 65%;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: white;
    background: #e8491d;
    text-align: center;
}

footer#about-footer {
    margin-top: 37em;
}

//Build an html5 website with a responsive layout (43:10)